/***** vitepress 样式优化 ******/

/* 爱的魔力转圈圈 */
.VPHero .image .image-src:hover {
  transform: translate(-50%, -50%) rotate(666turn);
  transition: transform 59s 1s cubic-bezier(0.3, 0, 0.8, 1);
}

/* 同一行上的链接有间距才行 */
.VPDoc .content-container .main a + a {
  margin-left: 12px;
}

/* 大屏大一点 */
@media (min-width: 1440px) {
  .VPDoc.has-aside .content-container.content-container {
    max-width: 100%;
  }
}

/* nav 换行问题（6 个还是有点小多，后面看看怎么优化） */
@media (max-width: 960px) {
  .VPNav {
    .VPNavBarMenuLink,
    .button {
      padding: 0 10px;
    }
  }
}
@media (max-width: 800px) {
  // 借鉴 https://cn.vuejs.org 的处理
  .VPNav .DocSearch-Button-Placeholder {
    display: none;
  }
}

/* 版权信息 */
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}
